@CHARSET "UTF-8";
/*公共样式css*/


.body_right,.body_left{width:50%;float:left;height:100%;}
#index_top{background:#E4EEFF;width:100%;height:100%; position: relative;}
#index_top_msg{position: absolute; right:0px;bottom:3px;}
#index_top_logo{position: absolute; left:20px;bottom:3px;}
#index_logo_wfu{width:54px;height:44px;}
#index_logo_zi_wfu{font-size: 30px;font-family: "微软雅黑";color: #333}
